# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# PyArt specific
saved_images/*.png
saved_images/*.jpg
saved_images/*.jpeg
!saved_images/.gitkeep

# Python cache
src/__pycache__/
*/__pycache__/
